@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");

* {
  font-family: "Zilla Slab", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cx-header {
  background-color: rgb(138, 23, 23);
  .img-logo {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 90px;
    filter: drop-shadow(1px 2px 50px white);
  }
  .nav-link {
    margin-left: 30px;
    &:hover {
      color: orange;
    }
  }
  .right-header {
    .icon-btn {
      background-color: transparent;
      border: none;
      padding: 10px;
      font-weight: 400;
    }
  }
}
