@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");

* {
  font-family: "Zilla Slab", serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cx-header{
  display: flex;
  flex-direction: row;
    .righ-header {
      .icon-btn {
        background-color: transparent;
        border: none;
        font-size: 25px;
        margin-right: 15px;
      }
    }
    .nav-link {
      color:black;
      font-size: 18px;
      text-decoration: none;
      &:hover {
        color: #da7676;
      }
    }
    .img-logo {
      height: 50px;
    }
    .d-flex.container{
      display: flex;
      justify-content: space-around;
      
    }
  }
